---
sudo: required
dist: trusty

language: python
python: "2.7"

env:
  - ANSIBLE_VERSION=latest
  - ANSIBLE_VERSION=2.7.6
  - ANSIBLE_VERSION=2.7.5
  - ANSIBLE_VERSION=2.7.4
  - ANSIBLE_VERSION=2.7.3
  - ANSIBLE_VERSION=2.7.2
  - ANSIBLE_VERSION=2.7.1
  - ANSIBLE_VERSION=2.7.0
  - ANSIBLE_VERSION=2.6.12
  - ANSIBLE_VERSION=2.6.11
  - ANSIBLE_VERSION=2.6.10
  - ANSIBLE_VERSION=2.6.9
  - ANSIBLE_VERSION=2.6.8
  - ANSIBLE_VERSION=2.6.7
  - ANSIBLE_VERSION=2.6.6
  - ANSIBLE_VERSION=2.6.5
  - ANSIBLE_VERSION=2.6.4
  - ANSIBLE_VERSION=2.6.3
  - ANSIBLE_VERSION=2.6.2
  - ANSIBLE_VERSION=2.6.1
  - ANSIBLE_VERSION=2.6.0
  - ANSIBLE_VERSION=2.5.14
  - ANSIBLE_VERSION=2.5.13
  - ANSIBLE_VERSION=2.5.12
  - ANSIBLE_VERSION=2.5.11
  - ANSIBLE_VERSION=2.5.10
  - ANSIBLE_VERSION=2.5.9
  - ANSIBLE_VERSION=2.5.8
  - ANSIBLE_VERSION=2.5.7
  - ANSIBLE_VERSION=2.5.6
  - ANSIBLE_VERSION=2.5.5
  - ANSIBLE_VERSION=2.5.4
  - ANSIBLE_VERSION=2.5.3
  - ANSIBLE_VERSION=2.5.2
  - ANSIBLE_VERSION=2.5.1
  - ANSIBLE_VERSION=2.5.0

branches:
  only:
    - master

before_install:
  - sudo apt-get update -qq

install:
  # Install Ansible.
  - if [ "$ANSIBLE_VERSION" = "latest" ]; then pip install ansible; else pip install ansible==$ANSIBLE_VERSION; fi
  - if [ "$ANSIBLE_VERSION" = "latest" ]; then pip install ansible-lint; fi

script:
  # Check the role/playbook's syntax.
  - ansible-playbook -i tests/inventory tests/test.yml --syntax-check

  # Run the role/playbook with ansible-playbook.
  - ansible-playbook -i tests/inventory tests/test.yml -vvvv

  # Run the role/playbook again, checking to make sure it's idempotent.
  - >
    ansible-playbook -i tests/inventory tests/test.yml
    | grep -q 'changed=0.*failed=0'
    && (echo 'Idempotence test: pass' && exit 0)
    || (echo 'Idempotence test: fail' && exit 1)

  - if [ "$ANSIBLE_VERSION" = "latest" ]; then ansible-lint tests/test.yml; fi

notifications:
  email: false
  hipchat:
    rooms:
      secure: YjrpTgEwi+KSZCm/+3538RjF9RQL2XvZeGj9/1YFf3forurHjV0aYwsdqCj+9lkckpyS3Z+mSqE1NAhiOQjaTE0OsSqFVOPdoqjNWealnal2rCaWZHQAbTfSaylO/erlLrCKT10udQWpIF/UHTmKn904LDesgkucW8fQqBqbamGixd5YxkiiIv4xr0VU7yEG6FVd+CcGl9HbLktjspDE2pvNeRCNYBp4ZstIlTlhh6MitKCXcqyTV8godhz5sC4ug3nstjlAC1YsK4IuuepIwrmwJmD/kki5bUjvvFTKbbqn3x70tO0Vb5oobT5sH3lyl2hYeRKVFRx/QkaEs2G7udh2NJLmjp6ZhboeBxQD1bSA6QfPBT80L8AggtR7KO+H//u27Q8beID2/PyP95eZmZA1VuRjkpQtRuUCjyqqpB64WKJq29ldctQt2l0238qYXHoqPKFHp1qrcFHYy1gheBh+yYeOl2y/09+f/2I0vN/exi9RzLnvQZ79T1kFxvGIOWQPKIB39z14ux7LZjEHc4VTYVdsAu1Lr3ovWZ4LxJ8ywSWIZ/iUJbALPTrvb8Ut2j/Fe/8WViveTrcWXDaJg2MT2MTvN/e6kEfqL2aRCG2NNM7J2CJXtnAg83TVARuZohNxZewpsG5cX4UtYi+tNZbE9hqpBQQftfFSdWTjSYM=
  webhooks: https://galaxy.ansible.com/api/v1/notifications/
  slack:
    rooms:
      secure: "8GpxyPn5uTjpOz7zewT8J1c+RH9oGcnZvcOjKYJMKypvgltrQ2eLfNXKyu+UhBomG8NGPXGr9vAdbElBuMlS8RH8cNvrrgswy2hp3s6z7KgWbWhZKNkDlJjiKObJ+FF0QQsbxcZEDbzKs/5WuOkZBPyuYU6JkcYomSUlbU5iZ8jM5lcsCcVbUdZbixj+1XWr1s8NV38HT2ft6E9F5pdbLhdOAj20j+XYzDv/joZEb2mLNpWNDmSHCffriSPf6kHbU4c8xp/AVo9dWodMvtPDd44rVVFxWfac2wqrXhgWhg+eirFJJVxTyn6JVINUvF2jvkOmvdM7QiGOPCJrg7+28RXKbBrWzUapd6lrocIACo4ZYOzdXaRaVcYFR70f/B4tGOwZyPJ8Gu0lXgtQbkrbNWDBDkitCQaock7cMMC10dUb1/qs1Oc3c6ZOUYBBsGxCijoeBItfNyqIQHzsvjSAqlN31AoMPfO4flRGwN8CsxEbTJwC4IBwitSE8xc2h+M00+5T6WKf2Q8rwXWbZfOaykXC4wl3AMJwv5XxhRGSzJ/zhgcTDlnbFF8qsoV6eOzVfBOru3zBMUFQxjIi4OZfVAjkD78hVHI+H7FnQ6x1OfzMHap7OYjXgP6pg8qelj+jAbz1mRS2mv5Yg/bMiZxEGP1bhLp1xadVeQ/8H7Y2nFw="
